{% extends "base.html" %}

{% block content %}
<h1>Tasks</h1>
<div class="row">
    <div class="col-md-8">
        <a href="/create" class="btn btn-primary mb-2">Create New Task</a>
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item">
                <a href="/read/{{ task[0] }}">{{ task[1] }}</a>
                <span class="float-right">
                    <a href="/update/{{ task[0] }}" class="btn btn-sm btn-warning mr-2">Edit</a>
                    <a href="/delete/{{ task[0] }}" class="btn btn-sm btn-danger">Delete</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}